.navigationContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    padding: 2.5rem 0;
}

.tablesContainer {
    width: 70%;
    padding-bottom: 1rem;
}

.table {
    width: 100%;
    font-size: 1.2rem;
    margin: 0rem 0.5rem 2rem 0.5rem;
}

.thead th {
    text-align: left;
    padding: 0.5em 1em;
}

.tbody td {
    text-align: left;
    padding: 0.5em 1em;
}

.weatherIcon {
    width: 50%;
    transform: scale(0.55);
}

.searchForm {
    display: flex;
    width: 50%;
}

.searchInput {
    flex: 1;
    padding: 0.5rem 1rem;
    border: none;
    appearance: none;
    margin-left: 1em;
}

.submitButton {
    appearance: none;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 1280px) {
    .table {
        display: flex;
        flex-direction: row;
    }

    .thead tr {
        display: flex;
        flex-direction: column;
    }

    .tbody tr {
        display: flex;
        flex-direction: column;
    }
}
